:root {
  --slate-gray: #e9e9e9;
  --powder-blue: #a4b8c4;
  --sea-salt: #fcfafa;
  --silver: #cbd2d3;
  --dark-pastel-green: #a4b8c4;
  --alice-blue: #fbfbfb;
  --primary: #d7dfe0;
  --blackgrey: #3f3f3f
}
.container {
  overflow: hidden;
  background-color: var(--alice-blue);
  width: 280px;
  max-width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  & > .header {
    background-color: var(--slate-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 0.7em;
    & > .header-icon {
      background-color: var(--silver);
      padding: 0.3em;
      border-radius: 50%;
    }
    & > .header-sub {
      display: grid;
      row-gap: 0.4em;
      & > .header-title {
        font-weight: 600;
        font-size: 1.2em;
      }
      & > .header-desp {
        font-weight: 400;
        font-size: 0.8em;
      }
    }
  }
  & > .body {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    & > .msg {
      max-width: 50%;
      padding: 0.5rem 0.9rem;
      background-color: var(--slate-gray);
      border-radius: 1rem;
      margin: 0.5rem 0.2em;
      word-wrap: break-word;
      position: relative;
      & > p{
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    & > .bot-msg {
      align-self: flex-start;
      margin-left: 2.1rem;
      bottom: 0;
    }
    & > .bot-msg::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='0.9em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23edf6f9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M12 8V4H8'/%3E%3Crect width='16' height='12' x='4' y='8' rx='2'/%3E%3Cpath d='M2 14h2m16 0h2m-7-1v2m-6-2v2'/%3E%3C/g%3E%3C/svg%3E");
      padding: 0.3rem 0.1rem 0.1rem 0.2rem;
      margin: auto;
      position: absolute;
      border-radius: 50%;
      left: -1.9em;
      bottom: calc(50% - 1.1em);
      background-color: var(--silver);
    }
    & > .user-msg {
      align-self: flex-end;
      margin-right: 0.4rem;
    }
  }
  & > .footer {
    background-color: var(--slate-gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.7rem 1.2rem;
    gap: 1rem;
    & > .footer-sub {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      column-gap: 0.6rem;
      flex: 1;
      & > .footer-input {
        width: 96%;
        padding: 0 0 0 0.7rem;
        background-color: var(--sea-salt);
        border: none;
        border-radius: 1.4rem;
        color: var(--blackgrey);
        text-wrap: wrap;
      }
      & > .footer-btn {
        background-color: var(--silver);
        border: none;
        border-radius: 50%;
        padding: 0 0 0 0 em;
        aspect-ratio: 1;
        width: 40%;
      }
      & > .footer-btn:hover {
        background-color: var(--dark-pastel-green);
      }
    }
  }
}
